<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363140290872-jrkmrii7l91rlfjp46ogg1f4lhis41d1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363140290872-jrkmrii7l91rlfjp46ogg1f4lhis41d1</string>
	<key>API_KEY</key>
	<string>AIzaSyAPQ0HxXN3ArdhueAbmplMHqcqpbs_7T2c</string>
	<key>GCM_SENDER_ID</key>
	<string>363140290872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bmsfrotend.PrimeiroAppMVVM</string>
	<key>PROJECT_ID</key>
	<string>primeiroappmvvm-afd50</string>
	<key>STORAGE_BUCKET</key>
	<string>primeiroappmvvm-afd50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363140290872:ios:3f76002b0080b72f9c89cd</string>
</dict>
</plist>