<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298187636992-ffrfmo4vtjj8oinu371fqa1nplir9l7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298187636992-ffrfmo4vtjj8oinu371fqa1nplir9l7e</string>
	<key>API_KEY</key>
	<string>AIzaSyCwSVxsoXlEY5noVzpnZzplUCQrIwcmOo4</string>
	<key>GCM_SENDER_ID</key>
	<string>298187636992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bmsfrotend.AppBackFront</string>
	<key>PROJECT_ID</key>
	<string>appbackfront-2a408</string>
	<key>STORAGE_BUCKET</key>
	<string>appbackfront-2a408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298187636992:ios:da1249d77b55e269fb33e5</string>
</dict>
</plist>